<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ecommorceProject">

<listeners>
<listener class-name="com.mycart.utlities.Reporting"></listener>
</listeners>

  <test name="Mycart Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
         <class name="com.mycart.testCases.TC_LoginTest_001"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->